* {
    box-sizing: border-box;
    text-align: center;
  }

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    margin: 0 auto;
}

header {
    background: teal;
    padding: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
}

#nav {
    background: orange;
    padding: 30px;
    margin-bottom: 15px;
}

#full {
    width: 60%;
    float: left;
    background-color: aquamarine;
    margin-bottom: 20px;
    padding: 20px;
}

#heading {
    background: purple;
}

#article {
    background: lightblue;
    float: left;
    width: 90%;
    height: 200px;
    margin-left: 30px;
    margin-top: 60px; 
}

h1 {
    Background: green;
    width: 80%;
    padding: 20px;
    margin-left: 70px;
    border: 2px solid black
}

p {
    background: lightgray;
    padding: 20px;
    width: 80%;
    margin-left: 70px;
    border: 2px solid black
}

aside {
    background: yellow;
    width: 38%;
    float: right;
    height: 318px;
    padding: 20px;
}    

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

footer {
    clear: both;
    background: teal;
    padding: 30px;
    margin-top: 20px;
    overflow: auto;
}